<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.PostMapper">
    <insert id="savePost" parameterType="Post" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post(
        category_id
        , writer
        , password
        , title
        , content
        , reg_date
        )
        VALUES(
        #{categoryId}
        , #{writer}
        , SHA2(#{password},256)
        , #{title}
        , #{content}
        , #{regDate}
        )
    </insert>

    <select id="findPostById" parameterType="int" resultType="Post">
        SELECT
            p.post_id AS postId
            , c.category_id AS categoryId
            , c.name AS categoryName
            , p.writer AS writer
            , p.title AS title
            , p.content AS content
            , p.reg_date AS regDate
            , p.mod_date AS modDate
            , p.hit AS hit
        FROM post p
        JOIN category c
        ON p.category_id=c.category_id
        WHERE p.post_id=#{id}
    </select>

    <update id="hitUp" parameterType="int">
        UPDATE post SET hit=hit+1 WHERE post_id=#{id}
    </update>

    <update id="updatePost" parameterType="Post">
        UPDATE post
        SET writer=#{writer}, title=#{title}, content=#{content}, mod_date=#{modDate}
        WHERE post_id=#{postId}
    </update>

    <select id="checkPassword" parameterType="map" resultType="int">
        SELECT COUNT(post_id)
        FROM post
        WHERE post_id=#{id}
            AND password=SHA2(#{password}, 256)
    </select>

    <delete id="deletePost" parameterType="int">
        DELETE FROM post WHERE post_id=#{id}
    </delete>

    <select id="findPosts" parameterType="map" resultType="Post">
        SELECT
            p.post_id AS postId
            , c.category_id AS categoryId
            , c.name AS categoryName
            , p.writer AS writer
            , p.title AS title
            , p.content AS content
            , p.reg_date AS regDate
            , p.mod_date AS modDate
            , p.hit AS hit
            , (SELECT COUNT(file_id) FROM FILE f WHERE f.post_id=p.post_id) AS isFileExists
        FROM post p
        JOIN category c
        WHERE p.category_id=c.category_id
        <if test="criteria.categoryId != null">
            AND p.category_id=#{criteria.categoryId}
        </if>
        <if test="criteria.searchWord != null and criteria.searchWord != ''">
            AND (p.title LIKE '%${criteria.searchWord}%'
                OR p.writer LIKE '%${criteria.searchWord}%'
                OR p.content LIKE '%${criteria.searchWord}%')
        </if>
        <if test="(criteria.startDate != null and criteria.startDate != '') and (criteria.endDate != null and criteria.endDate != '')">
            AND (p.reg_date BETWEEN #{criteria.startDate} AND #{criteria.endDate})
        </if>
        <if test="(criteria.startDate != null and criteria.startDate != '') and (criteria.endDate == null or criteria.endDate == '')">
            AND p.reg_date &gt;= #{criteria.startDate}
        </if>
        <if test="(criteria.startDate == null or criteria.startDate == '') and (criteria.endDate != null and criteria.endDate != '')">
            AND p.reg_date &lt;= #{criteria.endDate}
        </if>
        ORDER BY p.reg_date DESC
        LIMIT #{offset},#{limit}
    </select>

    <select id="getPostCount" parameterType="SearchCriteria" resultType="int">
        SELECT COUNT(post_id)
        FROM post
        <where>
            <if test="searchWord != null and searchWord != ''">
                (title LIKE '%${searchWord}%'
                    OR writer LIKE '%${searchWord}%'
                    OR content LIKE '%${searchWord}%')
            </if>
            <if test="categoryId != null">
                AND category_id=#{categoryId}
            </if>
            <choose>
                <when test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                    AND reg_date BETWEEN #{startDate} AND #{endDate}
                </when>
                <when test="(startDate != null and startDate != '') and (endDate == null or endDate == '')">
                    AND reg_date &gt;= #{startDate}
                </when>
                <when test="(startDate == null or startDate == '') and (endDate != null and endDate != '')">
                    AND reg_date &lt;= #{endDate}
                </when>
            </choose>
        </where>
    </select>
</mapper>