<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>write</servlet-name>
        <jsp-file>/write.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>write</servlet-name>
        <url-pattern>/board/free/write</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view</servlet-name>
        <jsp-file>/view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/boards/free/view/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>writeOK</servlet-name>
        <jsp-file>/writeOK.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>writeOK</servlet-name>
        <url-pattern>/board/free/writeOK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commentOK</servlet-name>
        <jsp-file>/commentOK.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>commentOK</servlet-name>
        <url-pattern>/board/free/commentOK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>modify</servlet-name>
        <jsp-file>/modify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/board/free/modify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>modifyOK</servlet-name>
        <jsp-file>/modifyOK.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyOK</servlet-name>
        <url-pattern>/board/free/modifyOK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOK</servlet-name>
        <jsp-file>/deleteOK.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOK</servlet-name>
        <url-pattern>/board/free/deleteOK</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>list</servlet-name>
        <jsp-file>/list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/boards/free/list</url-pattern>
    </servlet-mapping>
</web-app>



