<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.FileMapper">

    <insert id="saveFile" parameterType="java.util.List">
        INSERT INTO file(
            post_id
            , orig_name
            , store_name
            , ext
            , store_dir
            )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.postId}
            , #{item.origName}
            , #{item.storeName}
            , #{item.ext}
            , #{item.storeDir}
            )
        </foreach>
    </insert>

    <select id="findFileById" parameterType="int" resultType="com.example.board.web.model.AttachFile">
        SELECT * FROM file WHERE file_id=#{id} LIMIT 1
    </select>

    <select id="findFiles" parameterType="int" resultType="com.example.board.web.model.AttachFile">
        SELECT * FROM file WHERE post_id=#{postId}
    </select>

    <select id="isAttached" parameterType="java.util.List" resultType="int">
        SELECT post_id FROM post p WHERE EXISTS (
            SELECT 1
            FROM file f
            WHERE f.post_id
                IN
                <foreach collection="list" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
                AND p.post_id = f.post_id
        )
    </select>
</mapper>