<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.FileMapper">

    <insert id="saveFile" parameterType="java.util.List">
        INSERT INTO file(
            post_id
            , orig_name
            , store_name
            , ext
            , store_dir
            )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.postId}
            , #{item.origName}
            , #{item.storeName}
            , #{item.ext}
            , #{item.storeDir}
            )
        </foreach>
    </insert>

    <select id="findFileById" parameterType="int" resultType="com.example.board.web.model.AttachFile">
        SELECT * FROM file WHERE file_id=#{id} LIMIT 1
    </select>

    <select id="findFiles" parameterType="int" resultType="com.example.board.web.model.AttachFile">
        SELECT * FROM file WHERE post_id=#{postId}
    </select>

    <delete id="updateDeleteFile" parameterType="map">
        DELETE FROM file WHERE post_id=#{postId} AND file_id NOT IN
        <foreach collection="fileIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>